body {
    padding: 0;
    margin: 0;

    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('C:/Users/Administrator/OneDrive/Documents/BTECH-E-Request/img/newBtechLogo(2).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 1;
    cursor: pointer;
}

.logo-size {
    margin-top: 10px;
    margin-left: 5px;
    height: 80px;
    width: auto;
}

.txt-center {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    height: 100px;
}

p {
    width: 200px;
    color: beige;
    text-align: left, center;
    font-size: 12px;
    margin: 0;
}

.container {
    height: 70vh;
    width: 70%;

    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.person-section {
    height: 120%;
    width: 20%;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(161, 167, 167, 0.3);
}

.personregister-form {
    height: 120%;
    width: 80%;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #eeeff3;

    display: flex;
    justify-content: center;
}


.group-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    width: 170px;

    margin: 20px;
}

.tab.active {
    color: rgb(255, 255, 255);
    border-left: 8px solid #FFC000;
}

/* Student Registration Form */
.studentreg-form {
    flex: 1;
    padding: 30px;
    width: 70%;
    border-radius: 15px;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

/* Form Grid */
.contain {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.inputfield {
    width: 48%;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    font-size: 14px;
    text-align: left;

    color: #333333;

    margin-bottom: 5px;
    margin-top: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Birth Date Fields */
.birth-fields {
    display: flex;
    gap: 20px;
}

.birth-fields input {
    width: 32%;
}

/* Register Button */
.register-btn {
    width: 50%;
    height: 50px;
    padding: 10px;
    background: #1F7A0E;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
    background: #1eb803;
}

.override-txt {
    width: 200%;
    text-align: center;
}

small {
    text-align: center;
}

.upload-box {
    width: 200%;
    height: 100px;
    border: 2px solid #333;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #eeeff3;
    cursor: pointer;
    text-align: center;

    transition: 0.3s;
    margin: 0;
    padding: 0;
}

.upload-box:hover {
    border-color: #1F7A0E;
}

.upload-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.upload-label p {
    font-size: 16px;
    text-align: center;

    width: 100%;
    color: black;
}

.upload-label span {
    color: #1F7A0E;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.upload-label small {
    display: block;
    color: gray;
    margin-top: 5px;
}

/* Admin Style Form */

.contains {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
}

.input-groups {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputfields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 10px;
}

.labels {
    margin: 0;
    padding: 0;


    /* border: 1px solid gold; */

    text-align: left;
    width: 210%;
}

.inputs {
    margin: 0;
    padding: 8px;
    width: 200%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.register-bttn {
    background-color: #1F7A0E;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.register-bttn:hover {
    background-color: #1eb803;
}

.register-staff-btn {
    background-color: #1F7A0E;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.register-staff-btn:hover {
    background-color: #1eb803;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
}

#staff-form {
    height: 70%;
    width: 7%;

    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#staff {
    margin: 0;

    border: 1px solid grey;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);

    height: 50vh;
    width: 90%;

    text-align: center;
}